body {
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.header {
    margin: 45px 0 0 0;
}
.container {
    padding: 0 68px;
    max-width: 1062px;
    margin: 0 auto;
}
.header-top {
    display: flex;
    justify-content: space-between;
}
.header-top__logo{
    margin-right: 25px;
}
.header-top__menu {
    display: flex;
    margin: 0 0 60px 0;
}
.header-top__menu li {
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    text-transform: uppercase;
    color: #626262;
    margin: 0 65px 0 0;
}
.header-top__menu li:last-child {
    margin-right: 0;
}

.header-top__photo {
    margin: 0 0 85px 0;

}

.header-top__photo img {
    max-width: 100%;
}

.news-block {
    margin: 0 80px;
}

.news-block__chapter {

    margin-bottom: 20px;
}
.chapter {
    font-size: 14px;
    line-height: 1.2;
    font-weight: 300;
    text-transform: uppercase;
    color: #b4ad9e;
}

.title {
    font-size: 30px;
    line-height: 1.2;
    font-weight: 400;
    color: #626262;
}
.news-block__title {
    margin-bottom: 30px
}
.news-block__text {
    max-width: 890px;
    font-size: 13px;
    line-height: 24px;
    font-weight: 400;
    color: #626262;
    margin-bottom: 50px;
}
.news-block__button a{
    font-size: 14px;
    line-height: 1.2;
    font-weight: 300;
    text-transform: uppercase;
    color: #b4ad9e;
}
.blocks {
    display: flex;
    flex-wrap: wrap;
}

.mini{
margin-top: 130px;

}
.mini-block {
    width: 50%;


}
.mini-block__preview{
    margin-bottom: 28px;
}
.mini-block__chapter{
    margin-bottom: 25px;
}
.mini-block__title{
    margin-bottom: 32px;
}
.mini-block__text{
    max-width: 410px;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: #626262;
    padding: 0 0 130px 0;
}

.subscribe{
    background: #f0f0f0;
    text-align: center;
}
.subscribe-block{
    padding: 50px 0 73px;
}
.subscribe-block__title{
    font-size: 30px;
    line-height: 1.2;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #333333;
    margin: 0 0 50px 0;
}
.subscribe-block__input {
    position: relative;

}

.subscribe-block__input input{

    height: 36px;
    width: 408px;
    background: #f0f0f0;
    border-bottom: 1px solid black;
}
.loadmore-btn {
    margin: 0 auto 50px;
    border: 1px solid black;
    width: 20%;
    padding: 16px;
    text-align: center;
    align-items: center;


}
.loadmore-btn a {
    display: inline-block;
    font-size: 20px;
    line-height: 24px;
    font-weight: 400;
    color: #626262;
}

.footer {
    background: #f0f0f0;


}
.footer-bottom {
    display: flex;
    justify-content: space-between;

}
.left {
    display: flex;
    padding: 40px 0;

}
.right{
    display: flex;
    padding: 40px 0;
}

.left li, .right li {
    margin-right: 15px;

}
